extends layout

block content
  h1= title
  form
    .form-group
      label(for='text') Text
      input#input.form-control(type='text', placeholder='Text')
    button.btn.btn-default#search(type='submit') Search


    //- .form-group
    //-   label(for='password') Password
    //-   input#password.password.form-control(type='password', placeholder='Password')
    //- if state === 'pokemon'
    //-   .form-group
    //-     label(for='password2') Password (again)
    //-     input#password2.password.form-control(type='password', placeholder='Password')
    //- if state === 'starwars'
    //-   button.btn.btn-default.register#go(type='submit') Register
    //- else
    //-   button.btn.btn-default.login#go(type='submit') Login
  #info

  button.btn.btn-default#go(type='submit') Add

block scripts
  script(src="/js/form.js")
  